.fc-row {
    position: relative;
    background: #ffffff;
}

.fc-row .fc-bg {
    z-index: 1;
}

/* Event Styles */
.fc-event {
    position: relative;
    display: block;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.02em;
    border-radius: 3px;
    font-weight: 500;
    border: 1px solid #ddd;
    -webkit-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);

}

.fc-event,
.fc-event-dot {
    background-color: #ffffff;
    color: #622453;
    position: relative;

}

.fc-event:before,
.fc-event-dot:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 50px;
    height: 100%;
    border-left: 3px solid #9b4c6f;
    border-bottom: 3px solid #84244d;
    -webkit-border-radius: 3px 0px 0px 3px;
    -moz-border-radius: 3px 0px 0px 3px;
    border-radius: 3px 0px 0px 3px;
}

.fc-event .fc-title {
    font-weight: 500;
}

.fc-event,
.fc-event:hover {
    color: #fff;
    text-decoration: none;

}

.fc-event[href],
.fc-event.fc-draggable {
    cursor: pointer;
}

.fc-not-allowed,
.fc-not-allowed .fc-event {
    cursor: not-allowed;
}

.fc-event .fc-bg {
    z-index: 1;
    background: #fff;
    opacity: .25;
}

.fc-event .fc-content {
    color: #71758f;
    position: relative;
    z-index: 2;
    padding: 8px;
}

.fc button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    height: auto;
    padding: 0 1rem;
    font-size: 1rem;
    white-space: nowrap;
    cursor: pointer;
}

/* title text */
.fc-toolbar h2 {
    margin: 0;
    font-size: 25px;
    font-weight: 700;
    display: inline-block;
    margin-right: 10px;
}

/* week and day number styling */
.fc-day-top.fc-other-month {
    opacity: 0.3;
}

.fc-basic-view .fc-week-number,
.fc-basic-view .fc-day-number {
    padding: 2px;
    color: rgba(72, 13, 60, 0.8);
    font-size: 15px;
    font-weight: 400;
}

.fc-basic-view .fc-day-top .fc-week-number {
    min-width: 1.5em;
    text-align: center;
    background-color: #f2f2f2;
    color: #808080;
}

/* when week/day number have own column */
.fc-basic-view td.fc-week-number {
    text-align: center;
}

.fc-basic-view td.fc-week-number>* {

    display: inline-block;
    min-width: 1.25em;
}

.fc-time-grid-container,
.fc-time-grid {
    position: relative;
    z-index: 1;
}

.fc-time-grid {
    min-height: 100%;

}

.fc-time-grid table {

    border: 0 hidden transparent;
}

.fc-time-grid>.fc-bg {
    z-index: 1;
    background: #fff;
}

.fc-time-grid .fc-slats,
.fc-time-grid>hr {

    position: relative;
    z-index: 2;
}

.fc th.fc-day-header {
    padding: 11px 7px;
    font-size: 16px;
    font-weight: 400;
}

.fc-day.fc-today {
    background: rgba(125, 86, 104, 0.048);
}

body {
    position: relative;
    font-family: 'Nunito', sans-serif;
    background: #f1e6f1de;
}

#login-btn, 
#logout-btn {
    position: absolute;
    top: 20px;
    right: 48px;
    z-index: 999;
    border-radius: 20px;
    background-color: #c594c588;
    border: 1px solid #470041;
    padding: 3px;
    color: #470041;
}
#login-btn:hover {
    background-color: #470041;
    color: #ffffff;
}
#login-btn i,
#logout-btn i {
    margin-right: 5px; 
}
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9999;
}


.search-form {
    position: absolute;
    top: 20px;
    left: 48px;
    z-index: 999;
    border-radius: 10px;
    background-color: #f1e6f1de;
    border: 1px solid #470041;
    width: 280px;
    padding: 3px;
}

.search-input {
    width: 100%;
    border: none;
    background-color: transparent;
    color: rgb(86, 23, 72);
}

.search-input:focus {
    outline: none;
}

.calendar {
    border: 0;
    background: transparent;
    margin-top: 60px;
}

h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    color: #470041;
    margin-bottom: 20px;
}

.btn {
    font-size: 15px !important;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2.5px;
    font-family: 'Nunito', sans-serif;
    box-shadow: none !important;
    border: 0;
    padding: 10px 20px !important;
}

.btn:focus {
    box-shadow: none;
}

.btn.btn-primary {
    background: #470041;
    color: #ffffff;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #84244d;
}

.form-group label {
    font-weight: 600;
    letter-spacing: 0.010em;
    font-size: 18px;
    margin-bottom: 5px;
}

.modal-body {
    background: #f1e6f1de;
}

.modal-body h4 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    color: #470041;
    margin-bottom: 20px;
}

.state-holiday {
    background-color: rgba(240, 205, 230, 0.763);
    color: white;
    border-color: rgba(134, 45, 125, 0.715);
}

#event-list {
    margin-top: 20px;
}

#event-list ul {
    list-style-type: none;
    padding: 0;
}

#event-list li {
    margin-bottom: 5px;
}



@media only screen and (max-width: 699px) {
    
    .calendar {
        overflow: hidden; 
    }

    .fc-content-skeleton {
        display: flex;
        flex-wrap: wrap;
    }

    .fc-day-grid-container {
        flex-grow: 1; 
        height: auto !important;
    }

    .fc-day-grid {
        display: flex;
        flex-direction: column;
        flex-grow: 1; 
    }

    .fc-day-top {
        flex: 1;
    }

    .fc-day-grid-divider {
        display: none;
    }

    .fc-day {
        flex: 1; 
    }

    .fc-scroller {
        overflow-y: hidden !important; 
    }

    .fc button {
        padding: 6px 10px !important;
        font-size: 12px !important;
        margin: 0 auto; 
    }

    .fc-toolbar h2 {
        font-size: 18px;
        text-align: center; 
        margin: 0 auto;
        margin-top: 10px;
    }
    .search-form {
        width: 35%; /* «роблено форму пошуку на повну ширину */
        font-size: 12px;
    }
}

@media only screen and (max-width: 435px) {
    .fc-toolbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
    }

    .fc-toolbar .fc-left,
    .fc-toolbar .fc-center,
    .fc-toolbar .fc-right {
        width: 100%;
        text-align: center; 
        margin-bottom: 10px; 
    }
}
